---
import { getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const entry = await getEntry('resumen', 'content');
---
<Layout title="CV Andrés Martinez">
	<header class="grid grid-cols-1 m-8">
		<h1 class="font-sans text-5xl">{entry.data.header.name}</h1>
		<p class="font-sans text-sm"><a href={entry.data.header.email}>{entry.data.header.email}</a> | {entry.data.header.location}</p>
	</header>
	<main class="m-8 text-sm font-sans">
		<article class="mb-8">
			<h2 class="font-sans font-semibold text-lg border-b-2 border-zinc-900 mb-5">Profesional Summary</h2>
			<section class="font-sans normal-case">
				{entry.data.main.professionalSummary}
			</section>
		</article>
		<article class="mb-8">
			<h2 class="font-sans font-semibold text-lg border-b-2 border-zinc-900 mb-5">Skills</h2>
			<section class="mx-4">
				<ul class="list-disc grid grid-cols-2 gap-2 md:grid-cols-3">
					{entry.data.main.skills.map((skill) => (
						<li>{skill}</li>
					))}
				</ul>
			</section>
		</article>
		<article class="mb-8">
			<h2 class="font-sans font-semibold text-lg border-b-2 border-zinc-900 mb-5">Experience</h2>
			{entry.data.main.experience.map((experience) => (
				<section class="mb-4">
					<aside class="grid grid-cols-2 mb-2">
						<h3 class="font-sans">{experience.title}</h3>
						<p class="text-zinc-400 text-right font-sans">{experience.date}</p>
						<h4 class="font-sans">{experience.company}</h4>
					</aside>
					<ul class="list-disc ml-4">
						{experience.responsibilities.map((description) => (
							<li>{description}</li>
						))}
					</ul>
				</section>
			))}
		</article>
		<article class="mb-8">
			<h2 class="font-sans font-semibold text-lg border-b-2 border-zinc-900 mb-5">Education</h2>
			{entry.data.main.education.map((education) => (
				<section>
					<aside class="grid grid-cols-2 gap-2">
						<h3 class="font-sans">{education.institution}</h3>
						<p class="text-zinc-400 font-sans text-right">{education.date}</p>
					</aside>
				</section>
			))}
		</article>
		<article class="mb-8">
			<h2 class="font-sans font-semibold text-lg border-b-2 border-zinc-900 mb-5">Language</h2>
			<section class="grid grid-cols-2">
				{entry.data.main.languages.map((language) => (
					<aside>
						<strong>{language.language}</strong>
						<p class="text-zinc-500 font-sans">{language.proficiency}</p>
					</aside>
				))}
			</section>
		</article>
		<article class="mb-8">
			<h2 class="font-sans font-semibold text-lg border-b-2 border-zinc-900 mb-5">Projects</h2>
			<section>
				<ul class="list-disc ml-4 gap-2">
					{entry.data.main.projects.map((project) => (
						<li><a href={project.link} target="_blank">{project.name}</a></li>
					))}
				</ul>
			</section>
		</article>
	</main>
	<footer class="m-8 text-center">
		<p>© 2021 Andrés Martinez</p> Powered by <a href="https://astro.build">Astro</a>
	</footer>
</Layout>
